@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(45deg, #f0a459, #f06a59);
}
* {
    font-family: 'Montserrat', sans-serif;
}
button {
    border-radius: 10px;
    background: #de9d71;
    cursor: pointer;
}

